div.B0_body
{
  color: #000000;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 15pt;
  margin-bottom: 6.0pt;
  margin-left: -20pt;
  margin-right: 0.0pt;
  margin-top: 6.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.B0_body_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0.0pt;
  margin-top: 6.0pt;
}

.B0_body_inner
{
  color: #000000;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 15pt;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.BI_book_info
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.BI_book_info_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.BI_book_info_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.BT_book_title
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 20.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Right;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.BT_book_title_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.BT_book_title_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 20.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Right;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.THR_heading_right
{
  color: #000000;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 13pt;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Right;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.THR_heading_right_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.THR_heading_right_inner
{
  color: #000000;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 13pt;
  text-align: Right;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N_007cA_address
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.N_007cA_address_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.N_007cA_address_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N_007cB_book_title
{
  color: #ffffff;
  font-family: "Microsoft Sans Serif";
  font-size: 20.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Right;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.N_007cB_book_title_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.N_007cB_book_title_inner
{
  color: #ffffff;
  font-family: "Microsoft Sans Serif";
  font-size: 20.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Right;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N_007cC_copyright
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 6.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: justify;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.N_007cC_copyright_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.N_007cC_copyright_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 6.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: justify;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N_007cF_footer
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.N_007cF_footer_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.N_007cF_footer_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N_007cFA_frame_anchor
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 4.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Center;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.N_007cFA_frame_anchor_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.N_007cFA_frame_anchor_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 4.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Center;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N_007cFC_footer_center
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.N_007cFC_footer_center_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.N_007cFC_footer_center_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N_007cFI_footer_icon
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 7.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Center;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.N_007cFI_footer_icon_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.N_007cFI_footer_icon_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 7.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Center;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N_007cH_header
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.N_007cH_header_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.N_007cH_header_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N_007cHB_hidden_book_title
{
  color: #ffffff;
  font-family: "Microsoft Sans Serif";
  font-size: 6.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.N_007cHB_hidden_book_title_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.N_007cHB_hidden_book_title_inner
{
  color: #ffffff;
  font-family: "Microsoft Sans Serif";
  font-size: 6.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N_007cP_part_number
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.N_007cP_part_number_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.N_007cP_part_number_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

span.Bold
{
  font-weight: bold;
}

span.Code
{
  font-family: 'Courier New';
}

span.Emphasis
{
  font-style: italic;
}

span.Link
{
  color: #00C000;
}

span.Subscript
{
  font-size: 7pt;
  line-height: 0pt;
  padding-bottom: 5pt;
  vertical-align: sub;
}

span.Superscript
{
  font-size: 7pt;
  line-height: 0pt;
  padding-bottom: 5pt;
  vertical-align: super;
}

span.N_007cHeader_bold
{
  font-family: "Helvetica CondensedBlack";
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.N_007cLink
{
  color: #3f7f3f;
}

span.N_007cLink_end
{
  color: #000000;
}

table.Table_borderless
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 2pt;
  padding-left: 4pt;
  padding-right: 4pt;
  padding-top: 4pt;
  text-align: left;
}

table.Table_32_bit_fields
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 2pt;
  padding-left: 4pt;
  padding-right: 4pt;
  padding-top: 4pt;
  text-align: left;
}

table.Table
{
  border-collapse: collapse;
  border-left-color: Black;
  margin-bottom: 12.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 10pt;
  padding-left: 4pt;
  padding-right: 4pt;
  padding-top: 5pt;
  text-align: left;
}

table.Figure_wide
{
  border-bottom-color: #400040;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-collapse: collapse;
  border-top-color: #400040;
  border-top-style: solid;
  border-top-width: thin;
  margin-bottom: 16.0pt;
  margin-left: -32px;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 4pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 6pt;
  text-align: left;
}

table.Figure
{
  border-bottom-color: #400040;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-collapse: collapse;
  border-top-color: #400040;
  border-top-style: solid;
  border-top-width: thin;
  margin-bottom: 16.0pt;
  margin-left: -32px;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 4pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 6pt;
  text-align: left;
}

table.Example_wide
{
  border-collapse: collapse;
  margin-bottom: 16.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 4pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 6pt;
  text-align: left;
}

table.Example
{
  border-collapse: collapse;
  margin-bottom: 16.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 4pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 6pt;
  text-align: left;
}

table.Equation
{
  border-collapse: collapse;
  margin-bottom: 16.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 4pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 6pt;
  text-align: left;
}

table.Check_box_single
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 2pt;
  padding-left: 4pt;
  padding-right: 4pt;
  padding-top: 4pt;
  text-align: left;
}

table.Check_box_double
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 2pt;
  padding-left: 4pt;
  padding-right: 4pt;
  padding-top: 4pt;
  text-align: left;
}

