div.B0_body
{
  color: #000000;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 15pt;
  margin-bottom: 6.0pt;
  margin-left: -20pt;
  margin-right: 0.0pt;
  margin-top: 6.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.B0_body_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0.0pt;
  margin-top: 6.0pt;
}

.B0_body_inner
{
  color: #000000;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 15pt;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H0_aboutTOC
{
  color: #000000;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.H0_aboutTOC_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
}

.H0_aboutTOC_inner
{
  color: #000000;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H0_appendixTOC
{
  color: #000000;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.H0_appendixTOC_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
}

.H0_appendixTOC_inner
{
  color: #000000;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H0_chapterTOC
{
  color: #000000;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.H0_chapterTOC_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
}

.H0_chapterTOC_inner
{
  color: #000000;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H0_contents
{
  border-bottom-color: DarkGray;
  border-bottom-style: solid;
  border-bottom-width: thin;
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: 16pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 30.0pt;
  margin-left: -32px;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Right;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.H0_contents_outer
{
  border-bottom-color: DarkGray;
  border-bottom-style: solid;
  border-bottom-width: thin;
  margin-bottom: 30.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.H0_contents_inner
{
  color: #000000;
  font-family: Arial, Sans-Serif;
  font-size: 16pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Right;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H0_revdatesTOC
{
  color: #000000;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.H0_revdatesTOC_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
}

.H0_revdatesTOC_inner
{
  color: #000000;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H0_sectionTOC
{
  color: #000000;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 13.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.H0_sectionTOC_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
}

.H0_sectionTOC_inner
{
  color: #000000;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 13.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H1_headingTOC
{
  color: #000000;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 12.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.H1_headingTOC_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.H1_headingTOC_inner
{
  color: #000000;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H2_headingTOC
{
  color: #000000;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 24.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.H2_headingTOC_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.H2_headingTOC_inner
{
  color: #000000;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H3_headingTOC
{
  color: #000000;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 36.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.H3_headingTOC_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.H3_headingTOC_inner
{
  color: #000000;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.M1_mil-spec_headingTOC
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 12.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.M1_mil-spec_headingTOC_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.M1_mil-spec_headingTOC_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.M2_mil-spec_headingTOC
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 24.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.M2_mil-spec_headingTOC_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.M2_mil-spec_headingTOC_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.M3_mil-spec_headingTOC
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 36.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.M3_mil-spec_headingTOC_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.M3_mil-spec_headingTOC_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N_007cF_footer
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.N_007cF_footer_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.N_007cF_footer_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N_007cFA_frame_anchor
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 4.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Center;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.N_007cFA_frame_anchor_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.N_007cFA_frame_anchor_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 4.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Center;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N_007cFC_footer_center
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.N_007cFC_footer_center_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.N_007cFC_footer_center_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N_007cH_header
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.N_007cH_header_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.N_007cH_header_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

span.Bold
{
  font-weight: bold;
}

span.Code
{
  font-family: 'Courier New';
}

span.Emphasis
{
  font-style: italic;
}

span.Link
{
  color: #00C000;
}

span.Subscript
{
  font-size: 7pt;
  line-height: 0pt;
  padding-bottom: 5pt;
  vertical-align: sub;
}

span.Superscript
{
  font-size: 7pt;
  line-height: 0pt;
  padding-bottom: 5pt;
  vertical-align: super;
}

span.N_007cDot_leader
{
  font-family: Palatino;
  font-size: 10.0pt;
  font-weight: normal;
}

span.N_007cHeader_bold
{
  font-family: "Helvetica CondensedBlack";
  font-weight: normal;
}

span.N_007cLink
{
  color: #3f7f3f;
}

span.N_007cLink_end
{
  color: #000000;
}

table.Table_borderless
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 2pt;
  padding-left: 4pt;
  padding-right: 4pt;
  padding-top: 4pt;
  text-align: left;
}

table.Table_32_bit_fields
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 2pt;
  padding-left: 4pt;
  padding-right: 4pt;
  padding-top: 4pt;
  text-align: left;
}

table.Table
{
  border-collapse: collapse;
  border-left-color: Black;
  margin-bottom: 12.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 10pt;
  padding-left: 4pt;
  padding-right: 4pt;
  padding-top: 5pt;
  text-align: left;
}

table.Figure_wide
{
  border-bottom-color: #400040;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-collapse: collapse;
  border-top-color: #400040;
  border-top-style: solid;
  border-top-width: thin;
  margin-bottom: 16.0pt;
  margin-left: -32px;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 4pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 6pt;
  text-align: left;
}

table.Figure
{
  border-bottom-color: #400040;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-collapse: collapse;
  border-top-color: #400040;
  border-top-style: solid;
  border-top-width: thin;
  margin-bottom: 16.0pt;
  margin-left: -32px;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 4pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 6pt;
  text-align: left;
}

table.Example_wide
{
  border-collapse: collapse;
  margin-bottom: 16.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 4pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 6pt;
  text-align: left;
}

table.Example
{
  border-collapse: collapse;
  margin-bottom: 16.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 4pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 6pt;
  text-align: left;
}

table.Equation
{
  border-collapse: collapse;
  margin-bottom: 16.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 4pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 6pt;
  text-align: left;
}

table.Check_box_single
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 2pt;
  padding-left: 4pt;
  padding-right: 4pt;
  padding-top: 4pt;
  text-align: left;
}

table.Check_box_double
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 2pt;
  padding-left: 4pt;
  padding-right: 4pt;
  padding-top: 4pt;
  text-align: left;
}

