div.AC_caution
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 13.0pt;
  margin-left: 90.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
  text-align: Left;
  text-indent: -28pt;
  text-transform: none;
  vertical-align: baseline;
}

.AC_caution_outer
{
  margin-bottom: 13.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
}

.AC_caution_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.AC1_caution
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 13.0pt;
  margin-left: 43.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
  text-align: Left;
  text-indent: -28pt;
  text-transform: none;
  vertical-align: baseline;
}

.AC1_caution_outer
{
  margin-bottom: 13.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
}

.AC1_caution_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.AI_information
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 13.0pt;
  margin-left: 90.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
  text-align: Left;
  text-indent: -30pt;
  text-transform: none;
  vertical-align: baseline;
}

.AI_information_outer
{
  margin-bottom: 13.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
}

.AI_information_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.AI1_information
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 13.0pt;
  margin-left: 45.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
  text-align: Left;
  text-indent: -30pt;
  text-transform: none;
  vertical-align: baseline;
}

.AI1_information_outer
{
  margin-bottom: 13.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
}

.AI1_information_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.AR_reference
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 13.0pt;
  margin-left: 90.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
  text-align: Left;
  text-indent: -36pt;
  text-transform: none;
  vertical-align: baseline;
}

.AR_reference_outer
{
  margin-bottom: 13.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
}

.AR_reference_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.AR1_reference
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 13.0pt;
  margin-left: 51.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
  text-align: Left;
  text-indent: -36pt;
  text-transform: none;
  vertical-align: baseline;
}

.AR1_reference_outer
{
  margin-bottom: 13.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
}

.AR1_reference_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.AW_warning
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 13.0pt;
  margin-left: 90.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
  text-align: Left;
  text-indent: -28pt;
  text-transform: none;
  vertical-align: baseline;
}

.AW_warning_outer
{
  margin-bottom: 13.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
}

.AW_warning_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Body
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Body_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0.0pt;
  margin-top: 6.0pt;
}

.Body_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Body5
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 16.0pt;
  margin-right: 0.0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Body5_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0.0pt;
  margin-top: 6.0pt;
}

.Body5_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Body6
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 36.0pt;
  margin-right: 0.0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Body6_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0.0pt;
  margin-top: 6.0pt;
}

.Body6_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.C1_code_indent
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 15.0pt;
  margin-right: 0.0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.C1_code_indent_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0.0pt;
  margin-top: 6.0pt;
}

.C1_code_indent_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.CB_checkbox
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 4.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.CB_checkbox_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0.0pt;
  margin-top: 4.0pt;
}

.CB_checkbox_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.CE_code_example
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.CE_code_example_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.CE_code_example_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.chapter_toc
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 11.0pt;
  margin-left: 18.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.chapter_toc_outer
{
  margin-bottom: 11.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.chapter_toc_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.CM_comment
{
  color: #ff7f00;
  font-family: "Microsoft Sans Serif";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.CM_comment_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
}

.CM_comment_inner
{
  color: #ff7f00;
  font-family: "Microsoft Sans Serif";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.CMW_comment_wide
{
  color: #ff7f00;
  font-family: "Microsoft Sans Serif";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 13.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.CMW_comment_wide_outer
{
  margin-bottom: 13.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
}

.CMW_comment_wide_inner
{
  color: #ff7f00;
  font-family: "Microsoft Sans Serif";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.CO_code
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.CO_code_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0.0pt;
  margin-top: 6.0pt;
}

.CO_code_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.GA_graphic_anchor
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 6.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Center;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.GA_graphic_anchor_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.GA_graphic_anchor_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 6.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Center;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H0_appendix
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 17.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 28.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Right;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.H0_appendix_outer
{
  margin-bottom: 28.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.H0_appendix_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 17.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Right;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H0_chapter
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 17.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 28.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Right;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.H0_chapter_outer
{
  margin-bottom: 28.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.H0_chapter_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 17.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Right;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H1_block
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 16.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 19.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.H1_block_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0.0pt;
  margin-top: 19.0pt;
}

.H1_block_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 16.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H1_heading
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 16.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 19.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.H1_heading_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0.0pt;
  margin-top: 19.0pt;
}

.H1_heading_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 16.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H2_heading
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 13.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 16.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.H2_heading_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0.0pt;
  margin-top: 16.0pt;
}

.H2_heading_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 13.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H3_heading
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.H3_heading_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
}

.H3_heading_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H4_heading
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.H4_heading_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
}

.H4_heading_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H5_heading
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5.0pt;
  margin-left: 18.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.H5_heading_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
}

.H5_heading_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H6_heading
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5.0pt;
  margin-left: 36.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.H6_heading_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0.0pt;
  margin-top: 13.0pt;
}

.H6_heading_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.HE_example_heading
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.HE_example_heading_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.HE_example_heading_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.HEQ_equation
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.HEQ_equation_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.HEQ_equation_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.HF_figure_heading
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.HF_figure_heading_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.HF_figure_heading_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.HO_appendix
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 17.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Right;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.HO_appendix_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.HO_appendix_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 17.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Right;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.HT_table_heading
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.HT_table_heading_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.HT_table_heading_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.L1_body
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 15.0pt;
  margin-right: 0.0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.L1_body_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0.0pt;
  margin-top: 6.0pt;
}

.L1_body_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.L1B_bulleted_list
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 15.0pt;
  margin-right: 0.0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: -15pt;
  text-transform: none;
  vertical-align: baseline;
}

.L1B_bulleted_list_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0.0pt;
  margin-top: 6.0pt;
}

.L1B_bulleted_list_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.L1N_numbered_list
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 15.0pt;
  margin-right: 0.0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: -15pt;
  text-transform: none;
  vertical-align: baseline;
}

.L1N_numbered_list_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0.0pt;
  margin-top: 6.0pt;
}

.L1N_numbered_list_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.L2_body
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 30.0pt;
  margin-right: 0.0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.L2_body_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0.0pt;
  margin-top: 6.0pt;
}

.L2_body_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.L2A_alpha_list
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 30.0pt;
  margin-right: 0.0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: -15pt;
  text-transform: none;
  vertical-align: baseline;
}

.L2A_alpha_list_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0.0pt;
  margin-top: 6.0pt;
}

.L2A_alpha_list_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.L2B_bulleted_list
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 30.0pt;
  margin-right: 0.0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: -15pt;
  text-transform: none;
  vertical-align: baseline;
}

.L2B_bulleted_list_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0.0pt;
  margin-top: 6.0pt;
}

.L2B_bulleted_list_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.NH_note_heading
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 8.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 7.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.NH_note_heading_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 7.0pt;
}

.NH_note_heading_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 8.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.NN_note_numbered
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3.0pt;
  margin-left: 16.0pt;
  margin-right: 0.0pt;
  margin-top: 3.0pt;
  text-align: Left;
  text-indent: -16pt;
  text-transform: none;
  vertical-align: baseline;
}

.NN_note_numbered_outer
{
  margin-bottom: 3.0pt;
  margin-right: 0.0pt;
  margin-top: 3.0pt;
}

.NN_note_numbered_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TA_table_anchor
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 4.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.TA_table_anchor_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.TA_table_anchor_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 4.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TAW_table_anchor_wide
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 4.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.TAW_table_anchor_wide_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.TAW_table_anchor_wide_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 4.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TC1_cell_body_indent
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 10.8pt;
  margin-right: 0.0pt;
  margin-top: 4.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.TC1_cell_body_indent_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0.0pt;
  margin-top: 4.0pt;
}

.TC1_cell_body_indent_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TCA2_cell_numbered_list
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 21.6pt;
  margin-right: 0.0pt;
  margin-top: 4.0pt;
  text-align: Left;
  text-indent: -10.8pt;
  text-transform: none;
  vertical-align: baseline;
}

.TCA2_cell_numbered_list_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0.0pt;
  margin-top: 4.0pt;
}

.TCA2_cell_numbered_list_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TCB1_cell_bulleted_list
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 10.8pt;
  margin-right: 0.0pt;
  margin-top: 4.0pt;
  text-align: Left;
  text-indent: -10.8pt;
  text-transform: none;
  vertical-align: baseline;
}

.TCB1_cell_bulleted_list_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0.0pt;
  margin-top: 4.0pt;
}

.TCB1_cell_bulleted_list_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TCB2_cell_bulleted_list
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 21.6pt;
  margin-right: 0.0pt;
  margin-top: 4.0pt;
  text-align: Left;
  text-indent: -10.8pt;
  text-transform: none;
  vertical-align: baseline;
}

.TCB2_cell_bulleted_list_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0.0pt;
  margin-top: 4.0pt;
}

.TCB2_cell_bulleted_list_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TCBC_cell_body_center
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 4.0pt;
  text-align: Center;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.TCBC_cell_body_center_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0.0pt;
  margin-top: 4.0pt;
}

.TCBC_cell_body_center_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Center;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TCBL_cell_body_left
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 4.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.TCBL_cell_body_left_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0.0pt;
  margin-top: 4.0pt;
}

.TCBL_cell_body_left_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TCBR_cell_body_right
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 4.0pt;
  text-align: Right;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.TCBR_cell_body_right_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0.0pt;
  margin-top: 4.0pt;
}

.TCBR_cell_body_right_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Right;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TCHC_column_head_center
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Center;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.TCHC_column_head_center_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.TCHC_column_head_center_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Center;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TCHL_column_head_left
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.TCHL_column_head_left_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.TCHL_column_head_left_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TCN1_cell_numbered_list
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 10.8pt;
  margin-right: 0.0pt;
  margin-top: 4.0pt;
  text-align: Left;
  text-indent: -10.8pt;
  text-transform: none;
  vertical-align: baseline;
}

.TCN1_cell_numbered_list_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0.0pt;
  margin-top: 4.0pt;
}

.TCN1_cell_numbered_list_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N_007cF_footer
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.N_007cF_footer_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.N_007cF_footer_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N_007cH_header
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: justify;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.N_007cH_header_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.N_007cH_header_inner
{
  color: #000000;
  font-family: "Microsoft Sans Serif";
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: justify;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N_007cPN_part_number
{
  color: #ffffff;
  font-family: "Microsoft Sans Serif";
  font-size: 7.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.N_007cPN_part_number_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
}

.N_007cPN_part_number_inner
{
  color: #ffffff;
  font-family: "Microsoft Sans Serif";
  font-size: 7.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

span.Bold
{
  font-weight: bold;
}

span.Code
{
  font-family: Courier;
}

span.Code_variable
{
  font-style: italic;
}

span.Cody_body_variable
{
  font-family: Palatino;
  font-style: italic;
}

span.Document_title
{
  font-style: italic;
}

span.Emphasis
{
  font-style: italic;
}

span.Link
{
  color: #3f7f3f;
}

span.Return_002fCheckmark_Symbols
{
  font-family: AlteraPS;
}

span.Subscript
{
  font-size: 8.0pt;
  vertical-align: sub;
}

span.Subscript_table
{
  font-size: 7.0pt;
  vertical-align: sub;
}

span.Superscript
{
  font-size: 8.0pt;
  vertical-align: super;
}

span.Superscript_table
{
  font-size: 7.0pt;
  vertical-align: super;
}

span.N_007cAltera_alerts
{
  color: #0076cf;
  font-family: AlteraPS;
}

span.N_007cBB_bullet_body
{
  color: #0076cf;
  font-family: ZapfDingbats;
  font-size: 7.5pt;
}

span.N_007cBBS_bullet_body_small
{
  color: #0076cf;
  font-family: ZapfDingbats;
  font-size: 6.5pt;
}

span.N_007cCheckBox
{
  font-family: "Wingdings 2";
  font-size: 12.0pt;
}

span.N_007cEquationStrings
{
  font-family: "Helvetica Condensed";
}

span.N_007cEqVariables
{
  font-family: "Helvetica Condensed";
  font-style: italic;
}

span.N_007cFolio
{
  font-family: "Helvetica CondensedBlack";
  font-weight: normal;
}

span.N_007cHalfSquare
{
  color: #0076cf;
  font-family: "Wingdings 3";
  font-size: 12.0pt;
}

span.N_007cLink
{
  color: #3f7f3f;
}

span.N_007cLT
{
  color: #000000;
}

span.N_007cPreliminary
{
  color: #0076cf;
  font-family: "Helvetica Condensed";
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.N_007cRun-in_heading
{
  font-family: "Helvetica CondensedBlack";
  font-weight: normal;
}

span.N_007cWarning
{
  color: #ff0059;
  font-family: AlteraPS;
}

table.Tbl_standard
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 2pt;
  padding-left: 4pt;
  padding-right: 4pt;
  padding-top: 4pt;
  text-align: left;
}

table.Example
{
  border-collapse: collapse;
  margin-bottom: 16.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 4pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 6pt;
  text-align: left;
}

table.Example_wide
{
  border-collapse: collapse;
  margin-bottom: 16.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 4pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 6pt;
  text-align: left;
}

table.Check-box_double
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 2pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 4pt;
  text-align: left;
}

table.Check-box_single
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 2pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 4pt;
  text-align: left;
}

table.Equation
{
  border-collapse: collapse;
  margin-bottom: 16.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 4pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 6pt;
  text-align: left;
}

table.Figure_wide
{
  border-collapse: collapse;
  margin-bottom: 16.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 4pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 6pt;
  text-align: left;
}

table.Figure
{
  border-collapse: collapse;
  margin-bottom: 16.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 4pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 6pt;
  text-align: left;
}

table.Tbl_2_col_standard
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 2pt;
  padding-left: 4pt;
  padding-right: 4pt;
  padding-top: 4pt;
  text-align: left;
}

table.Tbl_5_col_standard
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 2pt;
  padding-left: 4pt;
  padding-right: 4pt;
  padding-top: 4pt;
  text-align: left;
}

table.Tbl_8_col_standard
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 2pt;
  padding-left: 4pt;
  padding-right: 4pt;
  padding-top: 4pt;
  text-align: left;
}

table.Tbl_5_col_wide
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 2pt;
  padding-left: 4pt;
  padding-right: 4pt;
  padding-top: 4pt;
  text-align: left;
}

table.Tbl_8_col_wide
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 2pt;
  padding-left: 4pt;
  padding-right: 4pt;
  padding-top: 4pt;
  text-align: left;
}

